<div class="header">
	<h1>Logga in</h1>
</div>

<div class="content">
	<%= form_for(:session, url: login_path) do |f| %>
		<%= f.label :email %>
		<%= f.email_field :email %>

		<%= f.label :lösenord %>
		<%= f.password_field :password %>

		<%= f.submit "Logga in", class: "submit" %>
	<% end %>
</div>