<div class="container-fluid">
	<div class="row textarea-big">
		<h1>R채tt ordning</h1>
	</div>

	<%= render "layouts/nav" %>
	
	<%= form_for @contest, html: {class: 'form-horizontal'} do |f| -%>
	<%= f.hidden_field :completed, value: true %>
		<%= f.fields_for :contestants do |b| %>
			<div class="form-group row form-big">		
				<p>L책t #<%= b.object.start_nbr %></p>
				<%= b.select :position, @contestants.collect {|p| [ p.complete_title, p.start_nbr ] }, { prompt: "V채lj slutposition" }, { class: 'form-control' } %> 
			</div>
		<% end %>
		<div class="form-group row form-big">
			<%= f.submit "Spara r채tt ordning", class: "btn btn-primary"%>
		</div>
	<% end %>
</div>
