<div class="header">
	<h1>Skapa tävling administration</h1>
</div>

<%= render "layouts/nav" %>

<div class="content">
	<%= form_for @contest, html: { class: "new-contest-form" } do |f| %>
		<%= f.hidden_field :completed, value: false %>
		Namn på tävling *
		<%= f.text_field :name %>

		<span class="date-description">Sista chansen att skicka in bidrag</span>
		<%= f.datetime_field :end_date, value: Time.now.strftime("%Y-%m-%dT22:00"), pattern: "[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" %>
		
		<%= f.fields_for :contestants do |b| %>
			<%= b.hidden_field :start_nbr, value: b.object.start_nbr %>
			<div class="contestant"> 
				Låt #<%= b.object.start_nbr %>
				<div class="input-field">
					<%= f.label :titel %>
					<%= b.text_field :title %>
				</div>
				<div class="input-field">
					<%= f.label :land %>
					<%= b.text_field :country %>
				</div>
			</div>
		<% end %>
		<%= f.submit "Spara tävling", class: "submit"%>
	<% end %>
</div>