<div class="container-fluid">
	<div class="row textarea-big">
		<h1>Skapa tävling Eurovision administration</h1>
	</div>
		<div class="row textarea-big">
		<%= link_to "Logga ut", logout_path, method: :delete %>
	</div>
	<%= form_for @contest, html: {class: 'form-horizontal'} do |f| -%>
		<%= f.hidden_field :completed, value: false %>
		<div class="form-group row form-big">
			<p>Namn på tävling *</p>
			<p><%= f.text_field :name, class: 'form-control' %></p>
		</div>
		<%= f.fields_for :contestants do |b| %>
			<%= b.hidden_field :start_nbr, value: b.object.start_nbr %>
			<div class="form-group row form-big">
				<p>Startnummer #<%= b.object.start_nbr %></p>
				<%= f.label :titel %>
				<p><%= b.text_field :title, class: 'form-control' %></p>
				<%= f.label :land %>
				<p><%= b.text_field :country, class: 'form-control' %></p>
			</div>
		<% end %>
		<div class="form-group row form-big">
			<%= f.submit "Skicka in ditt svar", class: "btn btn-primary"%>
		</div>
	<% end %>
</div>
