<div class="container-fluid">
	<div class="row textarea-big">
		<h1>Visa l책tarna administration</h1>
	</div>

	<%= render "layouts/nav" %>

	<div class="row textarea-big">
		<p>Om du vill 채ndra ditt svar s책 klicka p책 tillbaka.</p>
		<p><%= link_to "Tillbaka", edit_contest_path, class: "btn btn-lg btn-primary" %></p>
	</div>

	<div class="row textarea-big">
			<% @contest.contestants.order('start_nbr ASC').each do |c| %>
			<p>
				Placering #<%= c.start_nbr %>
				<%= c.title %>
				<%= c.country %>
			</p>
		<% end %>
	</div>
</div>
