<div class="header">
	<h1>Skriv in ditt namn och låtarna!</h1>
</div>
<div class="content">
	<% if @current_contest.completed || @end_date_passed %>
		Tävlingen är avslutad.
	<% else %>
		<%= form_for @bet, as: :bet, url: bets_path, html: { multipart: true, method: :post } do |f| -%>
			Ditt namn *
			<%= f.text_field :name, class: 'form-control' %>
			<%= f.fields_for :placements do |b| %>
				<%= b.hidden_field :position, value: b.object.position %>
				Placering #<%= b.object.position %>
				<%= b.collection_select :contestant_id, @current_contest.contestants.order("country"), :id, :complete_title ,{ include_blank: "Välj låt" } %>
			<% end %>
			<%= f.submit "Skicka in ditt svar", class: "submit"%>
		<% end %>
	<% end %>
</div>