<h1>hello</h1>

<%= form_for @user do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
	<p>
		<% Country.all.each do |c| %>
		  <%= c.name %>
		<% end %>
	</p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
