<div class="nav row">
	<span><%= link_to "Skapa ny t채vling", new_contest_path %></span>
	<% if !Contest.order("created_at").last.nil? %>
		<span><%= link_to "Visa l책tarna", contest_path(Contest.order("created_at").last) %></span>
	<% end %>
	<span><%= link_to "R채tt ordning", edit_positions_contest_path(Contest.order("created_at").last) %></span>
	<span><%= link_to "Visa svaren", bets_path %></span>
	<span><%= link_to "Inst채llningar", edit_setting_path(Setting.order("created_at").first) %></span>
	<span><%= link_to "Logga ut", logout_path, method: :delete %></span>
</div>
