<div class="navbar">
	<ul class="nav">
		<li class="nav-item"><%= link_to "Skapa ny t채vling", new_contest_path %></li>
		<% if !Contest.order("created_at").last.nil? %>
			<li class="nav-item"><%= link_to "Visa l책tarna", contest_path(Contest.order("created_at").last) %></li>
			<li class="nav-item"><%= link_to "R채tt ordning", edit_positions_contest_path(Contest.order("created_at").last) %></li>
			<li class="nav-item"><%= link_to "Visa svaren", bets_path %></li>
		<% end %>
		<li class="nav-item"><%= link_to "Inst채llningar", edit_setting_path(Setting.order("created_at").first) %></li>
		<li class="nav-item"><%= link_to "Logga ut", logout_path, method: :delete %></li>
	</ul>
	<div class="nav-expandable-sign">+</div>
</div>